[submodule "bevy_textbox"]
	path = bevy_textbox
	url = https://github.com/void-scape/bevy_textbox.git
[submodule "bevy_pixel_gfx"]
	path = bevy_pixel_gfx
	url = https://github.com/void-scape/bevy_pixel_gfx.git
[submodule "bevy_pretty_text"]
	path = bevy_pretty_text
	url = https://github.com/void-scape/bevy_pretty_text.git
[submodule "bevy_sequence"]
	path = bevy_sequence
	url = https://github.com/CorvusPrudens/bevy_sequence.git
[submodule "bevy_seedling"]
	path = bevy_seedling
	url = https://github.com/CorvusPrudens/bevy_seedling
