(spawn_rate:0.16,spawn_amount:2,emission_shape:Point,lifetime:(0.5,0.27),linear_speed:Some((24.0,0.1)),linear_acceleration:Some((0.0,0.0)),direction:Some(((0.0,1.0),0.43)),angular_speed:Some((12.0,0.86)),angular_acceleration:Some((0.0,0.0)),scale:Some((3.0,0.0)),color:None,gravity_direction:None,gravity_speed:None,linear_damp:Some((0.0,0.0)),angular_damp:Some((0.0,0.0)),scale_curve:None,color_curve:Some((points:[((red:1.0,green:1.0,blue:1.0,alpha:1.0),0.0,None),((red:0.06123152,green:0.063484125,blue:0.061438926,alpha:1.0),1.0,None)])))